:root {
    --background_dark_purple: #38194D;
    --background_light_yellow: #FFFBE5;
    --background_dark_gray: #333;
    --background_light_gray: #f4f4f4;
    --text_color_dark_yellow: #FFCE1F;
    --text_color_light_yellow: #FFE047;
    --text_color_dark_purple: #3d0066;
    --text_color_light_purple: #c670ff;
}